<div class="container createquiz ">
    <div class="row">
        <div class="tally d-flex justify-content-between">
            <h5 class="fst-italic">Data Structures and Algorithm Results</h5>
            <h4>Score: 18/25</h4>
        </div>
            <hr>
        <div class="col-md-2"></div>        
        <div class="col-md-8">
            
            <div class="set">
                <h4 >Question 1:</h4>
            <h6>Is JavaScript the same as Java?</h6>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
              </ul>
            </div>
            <div class="set">
                <h4>Question 2:</h4>
            <h6>Are scared of the dark?</h6>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
              </ul>
            </div>
            <div class="set">
                <h4>Question 3:</h4>
            <h6>Are scared of the dark?</h6>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
              </ul>
            </div>
            <div class="set">
                <h4>Question 4:</h4>
            <h6>Are scared of the dark?</h6>
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
              </ul>
            </div>
        </div>
    </div>

</div>