<div class="container createquiz">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5 ">
            <h4 class="logo">Create Quiz</h4>
            <hr>
            <form class="allquiz" action="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quiz Name:</label>
                <input type="text" class="form-control input" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Quiz Image:</label>
                <input class="form-control input" type="file" id="formFile">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Quiz Description:</label>
                <textarea class="form-control input" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="buttons topspace">
              <a routerLink="/questions/create-questions" href="#">
                <button  class="quiz-btn">Create Questions</button>
            </a>

            <a href="#">
                <button class="quiz-btn">Save to Drafts</button>
            </a>
            
        </div>

    </form>
        </div>
        <div class="col-md-5">
            <div class="card createcard" >
                                
                <img src="https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
                
                <div class="card-body card-bg" >
                    <div class="main">
                        <h5  class="card-title maincolor ">Title goes here</h5>
                  
                    </div>
                  
                  <hr>
                  <p class="card-text maincolor">Description goes here</p>  
                 

                  
                </div>
              </div>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
