<div class="container-fluid quizset">
    <div class="row">
        <div class="col-md-2"></div>
        <div  class="quizborder col-md-8 py-5">
          <h4 class="secondarycolor">Welcome to Quiz app</h4>
          <p class="primarycolor">
            There are several sections each with a total of 10 questions. Every question holds one point.
          </p>
          <div class="set">
          <h5 class="secondarycolor">Rules:</h5>
          <ol class="list-group">
            <li >Correct questions gives you a point</li>
            <li >You have a minute to answer each question</li>
            <li >Refreshing resets the quiz</li>
          </ol>
        </div>
          <a routerLink="/quiz/all-quiz" href="#">
            <button class="quizbtn start"> Start</button>
        </a>
        </div>
        <div class="col-md-2"></div>
        </div>
</div>