/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cookie&family=Dancing+Script:wght@400;700&family=Inspiration&family=Pacifico&family=Poppins:wght@100;300&family=Satisfy&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #eff0d1;
}
.primarycolor{
    color: #eff0d1;
}
.secondarycolor{
    color: #77ba99;
}
.maincolor{
    color: #262730;
}

/* NAVBAR */
.navbar{
    background-color: #262730;
    padding: 1em;
    width: 100%;

}
.navbar ul li a:hover{
    background-color: #77ba99;
    border-radius: 3px;
    color: black;
    border-radius: 1em;
   
}
h3{
    color: #77ba99;
    font-size: 2em;
    margin-left: 0.5em;
}
.input{
    background-color: #eff0d1;
}
.rescard{
    width: 27em;
    margin-bottom: 2em;
}


/* ALL QUIZZES */

.allquiz{
    margin-top: 2em;
}
.card-header{
    background-color: #262730;
    color: #eff0d1;
}
.button{
    border-radius: 1em;
    padding: 0.3em;
    width: 7em;
    color: #77ba99;
    background-color: #262730;
}
.button:hover{
    background-color: #eff0d1;
    border: 2px solid #77ba99;
    color: #262730;
    font-weight: 900;
}
.buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* CREATE QUIZ */
.createquiz{
    background-color: #262730;
    color:  #77ba99;
    margin-top: 3em;
    padding: 3em;
}
.btn{
    
    border-radius: 1em;
    padding: 0.3em;
    width: 10em;
    background-color: #77ba99;
    color: #262730;
}
.btn:hover{
    background-color: #262730;
    color: #77ba99;
    border: 1px solid #77ba99;
}
.topspace{
    margin-top: 3em;
}
/* TAKE QUIZ */
.quizset{
    background-color:#262730 ;
    height: 91.5vh;
    padding-top: 2em;
    color: #77ba99;
}
.quizborder{
    border: 1px solid #77ba99;
    color: #eff0d1;
    padding: 3em;
}
.time{
    text-align: right;
    margin-right: 4em;
    margin-bottom: 1em;
}
.next{
    margin-left: 30em;
    margin-top: 1em;
}

@media only screen and (max-width: 800px){
    .rescard{
        width: 21em;
    }
    .createcard{
        width: 19em;
        margin-top: 2em;
    }
    .createquiz{
        margin-top: 0;
    }
    
    .quizborder{
        margin: 1em;
        width: 22em;
        padding: 1em;
    }
    .next{
        margin-left: 8em;
        margin-top: 0.5em;
    }
    .quizset{
        overflow-y: hidden;
    }

   

}
