/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cookie&family=Dancing+Script:wght@400;700&family=Inspiration&family=Pacifico&family=Poppins:wght@100;300&family=Satisfy&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    /* background-color: #EFF9FB; */
    background-color: #E9F0F0;
}
.primarycolor{
    /* color: #F0EDEE; */
    color: #E9F0F0;
}
.secondarycolor{
    /* color: #262730; */
    color: black;

}
.maincolor{
    /* color: #1F7A8C; */
    color: #536E6F;
}

/* NAVBAR */
.navbar{
   
    background-color: rgb(83, 110, 111);
    padding: 1em;
    width: 100%;

}
.navbar ul li{
    margin-left: 0.5em;
    
}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #8CA7A8;
    color: #fff;
    border-radius: 1em;
   
}

h3{
    color: #1e2829;
    font-size: 2em;
    margin-left: 0.5em;
}
.input{
    background-color: #F0EDEE;
}
.rescard{
     margin-bottom: 2em;
     
}



/* ALL QUIZZES */

.allquiz{
    margin-top: 2em;
}

.button{
    border-radius: 1em;
    padding: 0.3em;
    width: 7em;
    color: #E9F0F0;
    background-color: #536E6F;
}
.button:hover{
    background-color: #E9F0F0;
    border: 2px solid #536E6F;
    color: black;
    font-weight: 600;
}
.buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* CREATE QUIZ */
.createquiz{    
    background-color: #8CA7A8;
    margin-top: 3em;
    padding: 2em;
}
.card-bg{
    background-color: #E9F0F0;
}
.quiz-btn{
    
    border-radius: 1em;
    padding: 0.3em;
    width: 10em;
    background-color: #536E6F;
    color: #E9F0F0;
    border: none;
}
.quiz-btn:hover{
    background-color: #3d5253;
    color: #E9F0F0;
    border: 1px solid #536E6F;
}
.topspace{
    margin-top: 3em;
}
/* TAKE QUIZ */
.quizset{
    background-color:#E9F0F0 ;
    padding-top: 2em;
    color: black;
}
.quizborder{
    background-color: #536E6F;
    color: #E9F0F0;
    padding: 2em;
}

.next{
    margin-left: 15em;
    margin-top: 0.5em;
}

@media only screen and (max-width: 800px){
    /* .rescard{
        width: 21em;
        margin-left: 0.5em;
    } */
    /* body{
        overflow-x: hidden;
    } */
    .createcard{
        width: 19em;
        margin-top: 2em;
    }
    .createquiz{
        margin-top: 0;
    }
    
    .quizborder{
        margin: 1em;
        width: 22em;
        padding: 1em;
    }
    .next{
        margin-left: 8em;
        margin-top: 0.5em;
    }
    .quizset{
        overflow-y: hidden;
    }
    .button{
        width: 4em;
    }
   
   

}
