<nav class="navbar ">
    <div class="container-fluid ">
      <h3 class="navbar-brand primarycolor">LeadQuizzes</h3>
      <div class="d-flex">
        <ul class="nav justify-content-end ">
            <li class="nav-item">
              <a class="nav-link active primarycolor" aria-current="page" href="#">Quizzes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link primarycolor" href="#">Create Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link primarycolor" href="#">Logs</a>
            </li>            
          </ul>
      </div>
    </div>
  </nav>
