<div class="container-fluid  quizset">
    <h3 class="time">TIME TAKEN:</h3> 

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 quizborder">
                <p class="text-start">Question 1 of 1</p> 
                <h4>What galaxy does earth belong to?</h4>

                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      ans 1
                    </label>
                  </div> <hr>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      ans 2
                    </label>
                  </div> <hr>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      ans 3
                    </label>
                  </div> <hr>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      ans 4
                    </label>
                  </div> <hr>
                    
                    <i  class='bx bxs-right-arrow-circle bx-md secondarycolor next'></i>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
