<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="!isQuizCompleted">
      <div class="col-md-2"></div>
      <div class="col-md-8 createquiz">
        <div class="quiz-time d-flex justify-content-between">
          <div class="question-remain">
            <p class="text-start">
              Question {{ currentQuestionIndex + 1 }} of {{ questionList.length }}
            </p>
          </div>

          <div class="timer">
            <h4 class="time">
              {{ counter }} sec
              <span><i class="bi bi-stopwatch-fill"></i></span>
            </h4>
          </div>
        </div>
        <hr />
        <div class="question">
          <div class="card">
            <h5 style="font-weight: 500">
              {{ questionList[currentQuestionIndex].questionText }}
            </h5>
          </div>
        </div>

        <div class="options">
          <ol *ngFor="
              let option of questionList[currentQuestionIndex].options;
              index as i
            "
          >
            <li
              class="answer-option"
            >
              <div
                [ngClass]="{ highlight: questionList[currentQuestionIndex].userAnswer?.text === option.text }"
                (click)="onAnswerClick(option)"
                class="card"
              >
                {{ option.text }}
              </div>
            </li>
          </ol>
        </div>
        <hr />
        <div
          *ngIf="
            currentQuestionIndex + 1 < questionList.length;
            then showNextButton;
            else showResultsButton
          "
        ></div>
        <div class="text-end">
          <ng-template #showNextButton>
            <button
              [disabled]="!answerIsClicked"
              class="btn bi bi-arrow-right-circle-fill secondarycolor"
              style="font-size: 2rem"
              (click)="nextQuestion()"
            ></button>
          </ng-template>
          <ng-template #showResultsButton>
            <button
              [disabled]="!answerIsClicked"
              (click)="viewResults()"
              class="btn button"
            >
              View Results
            </button>
          </ng-template>
        </div>
      </div>
      <div class="col-md-2"></div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 createquiz">
            <div class="tally d-flex justify-content-between">
              <h3 class="fst-italic">Data Structures and Algorithm Results</h3>
              <div class="marks">
                <div class="points">
                  <h4>{{ answerPercentage }} %</h4>
                  <p>
                    Score:{{ correctAnswers.length }} /
                    {{ questionList.length }}
                  </p>
                </div>
              </div>
            </div>
            <div
              *ngFor="let question of questionList; let i = index"
              class="set"
            >
              <div class="question-card result-quiz">
                <h6>{{ question.questionText }}</h6>
              </div>
              <div class="options">
                <ol>
                  <li
                    class="card answer"
                    *ngFor="let option of question.options"
                    [ngClass]="{ correct: option.correct, incorrect:  option.correct === false }"
                  >
                    {{ option.text }}
                  </li>

                  <p>
                    <em>Explanation: {{ question.explanation }}</em>
                  </p>
                </ol>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </ng-container>
  </div>
</div>
