.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em;
  background-color: #e9f0f0;
}
.question-card {
  background-color: #536e6f;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em;
}
.answer-option {
  list-style-type: none;
  cursor: pointer;
  margin: 0.5em 0;
  transition: transform 0.2s;
}
.answer-option:focus {
  background-color: #536e67;
}
.answer-option:hover {
  transform: scale(1.1);
}
ol {
  padding: 0;
}
.highlight {
  background-color: #536e6f;
}
.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}
.selected {
  background-color: yellow;
}
.set {
  margin-bottom: 2em;
}
.tally {
  text-align: start;
  margin-left: 1em;
}
